/* 
    Document   : inv-style
    Created on : 10-mar-2011, 13:28:47
    Author     : inv
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#login{
    position:absolute;
    left: 40%;
    top: 35%;
    color: #3366CC;
    background: #F0F7FC;
    display: block;
    padding: 3px 6px;
    border: 1px solid #ACCFE8;
    border-width: 1px 1px 1px 1px;
    height: 110px;
    width: 250px;
    font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
}



#menuv {
    border: 1px solid #ACCFE8;
    border-width: 1px 1px 1px 1px;
    width: 149px;
    font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#menuv a {
    border-bottom: 1px solid #ACCFE8;
    text-decoration: none;
    color: #3366CC;
    background: #F0F7FC;
    display: block;
    padding: 3px 6px;
    width: 137px;
}

#menuv a:hover {
    background: #DBEBF6;
}

.boton {
    color: #FFF;
    font-weight: bold;
    background-color: #3366CC;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    border: 0; padding: 3px 12px;
}

h1 {
    font-size: 35px;
    position:absolute;
    top: 10px;
    font-family: Arial;
}

table{
    border-top: 1px solid #EAF0FB;
    border-left: 1px solid #EAF0FB;
    width: 100%; margin: 10px auto;
    font-size: 11px;
    background: #FFF;
}

th{
    border-right: 1px solid #EAF0FB;
    border-bottom: 1px solid #EAF0FB;
    padding: 4px 6px;
    width:50%;
    background: #EAF0FB;
    color: #005985;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
}

td{
    border-right: 1px solid #EAF0FB;
    border-bottom: 1px solid #EAF0FB;
    padding: 4px 6px;
    width:25%
}

.label{
    border-right: 1px solid #EAF0FB;
    border-bottom: 1px solid #EAF0FB;
    padding: 4px 6px;
    width:14%;
    background: #EBECED; /*#EAF0FB;*/
    color: #005985;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    font-family: Arial;
}

.label2{
    border-right: 0px solid #EAF0FB;
    border-bottom: 0px solid #EAF0FB;
    padding: 4px 6px;
    width:1%;
    background: #EBECED; /*#EAF0FB;*/
    color: #005985;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    font-family: Arial;
}

.etiqueta2{

    padding: 4px 6px;
    width:34%;
    color: rgb(47, 79, 79);
    font-weight: bold;
    font-size: 29px;
    text-align: left;
    font-family: trebuchet ms,helvetica,sans-serif;;
}

.etiqueta{

    padding: 4px 6px;
    width:14%;
    color: rgb(47, 79, 79);
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    font-family: trebuchet ms,helvetica,sans-serif;
}
.etiquetaG{

    padding: 4px 6px;
    width:14%;
    color: #696969;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    font-family: Arial;
}
.loginMensaje{
    padding: 4px 6px;
    width:50%;
    color: #D20005;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
    font-family: Arial;
    position: relative;
    left: 35%;
}

.tituloTabla{
    color: Gray;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    padding: 3px 6px;
    font-family: Arial;
}

.menuItems{
    color: grey;
    background-color: lightgray;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    padding: 3px 6px;
    font-family: Arial;
    border-right: 1px solid grey;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border: 1px solid grey;
}

.outputpanel {
width:800px;
height:200px;
display:block;
font-size: 13px;
font-family: Arial;
}
.bgpanelgrid {
background-color: #ACCFE8
}
.bgpanelgridGray {
     border: 0px;
     
     border-left-width: 0px;
     border-right-width: 0px;
      bottom: 0px; left: 0px; right: 0px; top: 0px; 
background-color: #D3D3D3;
}
.bgpanelgridGrayImp {
 border: 1px solid rgb(238, 238, 238);
    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    color: rgb(51, 51, 51);
}
.ui-datatable .ui-datatable-data .even-row td{
background-color:#DDE3FD;
}

.ui-datatable .ui-datatable-data .odd-row td{
background-color:#FFFFF;
}

input[disabled="disabled"], select[disabled="disabled"], textarea[disabled="disabled"] {
    border-style: hidden !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
   
    background-color: white; 
    border-right: 1px solid #EAF0FB;
    border-bottom: 1px solid #EAF0FB;
    padding: 4px 6px;
    font-size: 14px;
    text-align: left;
    font-family: Arial;
}

.menuTipoLetra {
 font-size: 13px;
 font-weight: bold;
 font-family: Arial;
 color: black;
}

.textoNumerico{
   color: #006699;
   text-align: right;
}




