API_URL=http://localhost:8082/api/ws-sifen/
SECRETE_FOR_JWT=asdfSFS3sdfSDSDDerQSNCK3D32dfsdd4SOWEK534wfsdf54fdgdf4
DATASOURCE_NAME=gfMutitiendasDs
MISET_HEADER_NAME_FOR_CLIENT_API_KEY=X-API-KEY
MISET_CLIENT_API_KEY=1
#########EMAIL############
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOSTNAME=smtp.gmail.com
MAIL_PORT=587